In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

# Data Cleaning

In [21]:
df = pd.read_csv('train_aWnotuB.csv',parse_dates = ['DateTime'])

In [22]:
df.head(5)

             DateTime  Junction  Vehicles           ID
0 2015-11-01 00:00:00         1        15  20151101001
1 2015-11-01 01:00:00         1        13  20151101011
2 2015-11-01 02:00:00         1        10  20151101021
3 2015-11-01 03:00:00         1         7  20151101031
4 2015-11-01 04:00:00         1         9  20151101041

In [23]:
df.isnull().sum()

DateTime    0
Junction    0
Vehicles    0
ID          0
dtype: int64

In [24]:
df.describe()

                            DateTime      Junction      Vehicles            ID
count                          48120  48120.000000  48120.000000  4.812000e+04
mean   2016-09-19 06:03:56.109725696      2.180549     22.791334  2.016330e+10
min              2015-11-01 00:00:00      1.000000      1.000000  2.015110e+10
25%              2016-04-16 01:45:00      1.000000      9.000000  2.016042e+10
50%              2016-09-30 03:30:00      2.000000     15.000000  2.016093e+10
75%              2017-02-25 16:00:00      3.000000     29.000000  2.017023e+10
max              2017-06-30 23:00:00      4.000000    180.000000  2.017063e+10
std                              NaN      0.966955     20.750063  5.944854e+06

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  48120 non-null  datetime64[ns]
 1   Junction  48120 non-null  int64
 2   Vehicles  48120 non-null  int64
 3   ID        48120 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 1.5 MB

In [26]:
df[df.duplicated()]

Empty DataFrame
Columns: [DateTime, Junction, Vehicles, ID]
Index: []

# Feature Engineering

In [27]:
df['Year'] = df['DateTime'].dt.year
df['Month'] = df['DateTime'].dt.month
df['Day'] = df['DateTime'].dt.day_name()
df['Hours'] = df['DateTime'].dt.hour
df['date'] = df['DateTime'].dt.day

In [28]:
df.head()

,DateTime,Junction,Vehicles,ID,Year,Month,Day,Hours,date
0,2015-11-01 00:00:00,1,15,20151101001,2015,11,Sunday,0,1
1,2015-11-01 01:00:00,1,13,20151101011,2015,11,Sunday,1,1
2,2015-11-01 02:00:00,1,10,20151101021,2015,11,Sunday,2,1
3,2015-11-01 03:00:00,1,7,20151101031,2015,11,Sunday,3,1
4,2015-11-01 04:00:00,1,9,20151101041,2015,11,Sunday,4,1

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  48120 non-null  datetime64[ns]
 1   Junction  48120 non-null  int64
 2   Vehicles  48120 non-null  int64
 3   ID        48120 non-null  int64
 4   Year      48120 non-null  int32
 5   Month     48120 non-null  int32
 6   Day       48120 non-null  object
 7   Hours     48120 non-null  int32
 8   date      48120 non-null  int32
dtypes: datetime64[ns](1), int32(4), int64(3), object(1)
memory usage: 2.6+ MB

In [30]:
df['Year'].value_counts()

Year
2016    26352
2017    17376
2015     4392
Name: count, dtype: int64

# Exploratory Data Analysis

    Univavariate Analysis

# Conclusion
    1) There is no J4 before 2017
    2) There are outliers in vehicles

In [31]:
# 1)
df.head(3)

,DateTime,Junction,Vehicles,ID,Year,Month,Day,Hours,date
0,2015-11-01 00:00:00,1,15,20151101001,2015,11,Sunday,0,1
1,2015-11-01 01:00:00,1,13,20151101011,2015,11,Sunday,1,1
2,2015-11-01 02:00:00,1,10,20151101021,2015,11,Sunday,2,1

In [32]:
df['Junction'].value_counts()

Junction
1    14592
2    14592
3    14592
4     4344
Name: count, dtype: int64

In [33]:
df['Junction'].value_counts().plot(kind = 'bar')

In [34]:
df['Junction'].value_counts().plot(kind = 'pie',autopct = '%0.2f%%')

In [35]:
df[df['Junction'] == 4]['DateTime'].sort_values()

43776   2017-01-01 00:00:00
43777   2017-01-01 01:00:00
43778   2017-01-01 02:00:00
43779   2017-01-01 03:00:00
43780   2017-01-01 04:00:00
                ...
48115   2017-06-30 19:00:00
48116   2017-06-30 20:00:00
48117   2017-06-30 21:00:00
48118   2017-06-30 22:00:00
48119   2017-06-30 23:00:00
Name: DateTime, Length: 4344, dtype: datetime64[ns]

In [36]:
df['Junction'].isnull().sum()

0

In [37]:
# 2)
df['Vehicles'].describe()

count    48120.000000
mean        22.791334
std         20.750063
min          1.000000
25%          9.000000
50%         15.000000
75%         29.000000
max        180.000000
Name: Vehicles, dtype: float64

In [38]:
df['Vehicles'].plot(kind = 'hist', bins = 7)

In [39]:
df['Vehicles'].plot(kind = 'kde')

In [40]:
df['Vehicles'].plot(kind = 'box')

In [41]:
df[df['Vehicles'] >= 150]

,DateTime,Junction,Vehicles,ID,Year,Month,Day,Hours,date
11299,2017-02-13 19:00:00,1,156,20170213191,2017,2,Monday,19,13
40723,2017-02-23 19:00:00,3,180,20170223193,2017,2,Thursday,19,23
40724,2017-02-23 20:00:00,3,173,20170223203,2017,2,Thursday,20,23
43574,2017-06-22 14:00:00,3,162,20170622143,2017,6,Thursday,14,22

In [42]:
#3)
df['Year'].value_counts()

Year
2016    26352
2017    17376
2015     4392
Name: count, dtype: int64

In [43]:
df['Year'].value_counts().plot(kind = 'bar')

In [44]:
df[df['Year'] == 2015]['Junction'].value_counts()

Junction
1    1464
2    1464
3    1464
Name: count, dtype: int64

In [45]:
df['Year'].value_counts().plot(kind = 'pie', autopct = '%0.2f%%')

In [46]:
df['Year'].isnull().sum()

0

In [47]:
#4)
df['Month'].value_counts().sort_values()

Month
9     2160
7     2232
8     2232
10    2232
11    4320
12    4464
2     4776
4     5040
6     5040
1     5208
3     5208
5     5208
Name: count, dtype: int64

In [48]:
df['Month'].value_counts().plot(kind = 'bar')

In [49]:
df[df['Month'].isin([7,8,10,9])]['Year'].value_counts()

Year
2016    8856
Name: count, dtype: int64

In [50]:
df[df['Year'] == 2015]['Month'].value_counts()

Month
12    2232
11    2160
Name: count, dtype: int64

In [51]:
df['Month'].value_counts().plot(kind = 'pie', autopct = "%0.2f%%")

In [52]:
df['Month'].isnull().sum()

0

In [53]:
#5)
df['Day'].value_counts()

Day
Sunday       6888
Monday       6888
Tuesday      6888
Wednesday    6888
Thursday     6888
Friday       6888
Saturday     6792
Name: count, dtype: int64

In [54]:
df['Day'].value_counts().plot(kind = 'bar')

In [55]:
df['Day'].value_counts().plot(kind = 'pie', autopct = '%0.2f%%')

In [56]:
df['Day'].isnull().sum()

0

In [57]:
#6)
df['Hours'].describe()

count    48120.000000
mean        11.500000
std          6.922258
min          0.000000
25%          5.750000
50%         11.500000
75%         17.250000
max         23.000000
Name: Hours, dtype: float64

In [58]:
df['Hours'].plot(kind = 'hist')

In [59]:
df['Hours'].plot(kind = 'kde')

In [60]:
df['Hours'].plot(kind = 'box')

In [61]:
df['Hours'].skew()

0.0

In [62]:
df['Hours'].isnull().sum()

0

    bivavariate Analysis

# conclusion

    1) There is heavy traffic on j1 & less on j4
    2) There is heavy traffic in 2015 0n j2 & j3 and less on j1

In [63]:
df.sample(3)

,DateTime,Junction,Vehicles,ID,Year,Month,Day,Hours,date
43597,2017-06-23 13:00:00,3,22,20170623133,2017,6,Friday,13,23
47619,2017-06-10 03:00:00,4,3,20170610034,2017,6,Saturday,3,10
3023,2016-03-05 23:00:00,1,26,20160305231,2016,3,Saturday,23,5

In [64]:
#1)
df[df['Junction'] == 1]['Vehicles'].plot(kind = 'kde', label = 'j1')
df[df['Junction'] == 2]['Vehicles'].plot(kind = 'kde', label = 'j2')
df[df['Junction'] == 3]['Vehicles'].plot(kind = 'kde', label = 'j3')
df[df['Junction'] == 4]['Vehicles'].plot(kind = 'kde', label = 'j4')
plt.legend()
plt.show()

C:\Users\gohelsujalsinh\AppData\Local\Temp\ipykernel_31332\2389090824.py:7: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [65]:
#2)
pd.crosstab(df['Junction'],df['Year'], normalize = 'columns')*100

Year           2015       2016  2017
Junction
1         33.333333  33.333333  25.0
2         33.333333  33.333333  25.0
3         33.333333  33.333333  25.0
4          0.000000   0.000000  25.0

In [66]:
sb.heatmap(pd.crosstab(df['Junction'],df['Year'], normalize = 'columns')*100)

In [67]:
#3)
pd.crosstab(df['Junction'],df['Month'], normalize = 'columns')*100

Month,1,2,3,4,5,6,7,8,9,10,11,12
Junction,,,,,,,,,,,,
1,28.571429,28.643216,28.571429,28.571429,28.571429,28.571429,33.333333,33.333333,33.333333,33.333333,33.333333,33.333333
2,28.571429,28.643216,28.571429,28.571429,28.571429,28.571429,33.333333,33.333333,33.333333,33.333333,33.333333,33.333333
3,28.571429,28.643216,28.571429,28.571429,28.571429,28.571429,33.333333,33.333333,33.333333,33.333333,33.333333,33.333333
4,14.285714,14.070352,14.285714,14.285714,14.285714,14.285714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [68]:
sb.heatmap(pd.crosstab(df['Junction'],df['Month'], normalize = 'columns')*100)

In [69]:
#4)
pd.crosstab(df['Junction'],df['Day'], normalize = 'columns')*100

Day,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
Junction,,,,,,,
1,30.313589,30.313589,30.388693,30.313589,30.313589,30.313589,30.313589
2,30.313589,30.313589,30.388693,30.313589,30.313589,30.313589,30.313589
3,30.313589,30.313589,30.388693,30.313589,30.313589,30.313589,30.313589
4,9.059233,9.059233,8.833922,9.059233,9.059233,9.059233,9.059233

In [70]:
sb.heatmap(pd.crosstab(df['Junction'],df['Day'], normalize = 'columns')*100)

In [71]:
#5)
df[df['Junction'] == 1]['Hours'].plot(kind = 'kde', label = 'j1')
df[df['Junction'] == 2]['Hours'].plot(kind = 'kde', label = 'j2')
df[df['Junction'] == 3]['Hours'].plot(kind = 'kde', label = 'j3')
df[df['Junction'] == 4]['Hours'].plot(kind = 'kde', label = 'j4')
plt.legend()
plt.show()

C:\Users\gohelsujalsinh\AppData\Local\Temp\ipykernel_31332\2636964895.py:7: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [72]:
df.sample(2)

,DateTime,Junction,Vehicles,ID,Year,Month,Day,Hours,date
15950,2015-12-27 14:00:00,2,11,20151227142,2015,12,Sunday,14,27
36492,2016-08-31 12:00:00,3,13,20160831123,2016,8,Wednesday,12,31

In [73]:
#6)
df[df['Year'] == 2015]['Vehicles'].plot(kind = 'kde', label = '2015')
df[df['Year'] == 2016]['Vehicles'].plot(kind = 'kde', label = '2016')
df[df['Year'] == 2017]['Vehicles'].plot(kind = 'kde', label = '2017')

plt.legend()
plt.show()

C:\Users\gohelsujalsinh\AppData\Local\Temp\ipykernel_31332\4197067342.py:7: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [74]:
df[df['Day'] == 'Sunday']['Vehicles'].plot(kind = 'kde', label = 'Sunday')
df[df['Day'] == 'Monday']['Vehicles'].plot(kind = 'kde', label = 'Monday')
df[df['Day'] == 'Tuesday']['Vehicles'].plot(kind = 'kde', label = 'Tuesday')
df[df['Day'] == 'Wednesday']['Vehicles'].plot(kind = 'kde', label = 'Wednesday')
df[df['Day'] == 'Thursday']['Vehicles'].plot(kind = 'kde', label = 'Thursday')
df[df['Day'] == 'Friday']['Vehicles'].plot(kind = 'kde', label = 'Friday')
df[df['Day'] == 'Saturday']['Vehicles'].plot(kind = 'kde', label = 'Saturday')

plt.legend()
plt.show()

C:\Users\gohelsujalsinh\AppData\Local\Temp\ipykernel_31332\2011036533.py:10: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [75]:
df['Hours'].corr(df['Vehicles'])

0.21993767470660067

In [76]:
df['Month'].corr(df['Vehicles'])

-0.022723445260493

In [77]:
df.head()

,DateTime,Junction,Vehicles,ID,Year,Month,Day,Hours,date
0,2015-11-01 00:00:00,1,15,20151101001,2015,11,Sunday,0,1
1,2015-11-01 01:00:00,1,13,20151101011,2015,11,Sunday,1,1
2,2015-11-01 02:00:00,1,10,20151101021,2015,11,Sunday,2,1
3,2015-11-01 03:00:00,1,7,20151101031,2015,11,Sunday,3,1
4,2015-11-01 04:00:00,1,9,20151101041,2015,11,Sunday,4,1

In [78]:
df.head()

,DateTime,Junction,Vehicles,ID,Year,Month,Day,Hours,date
0,2015-11-01 00:00:00,1,15,20151101001,2015,11,Sunday,0,1
1,2015-11-01 01:00:00,1,13,20151101011,2015,11,Sunday,1,1
2,2015-11-01 02:00:00,1,10,20151101021,2015,11,Sunday,2,1
3,2015-11-01 03:00:00,1,7,20151101031,2015,11,Sunday,3,1
4,2015-11-01 04:00:00,1,9,20151101041,2015,11,Sunday,4,1

# Create ML Model
## linear regression

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [115]:
# One-hot encoding categorical variables
df_encoded = pd.get_dummies(df, columns=['Junction', 'Day', 'Hours', 'date','Month'])
# Define features (X) and target (y)
x = df_encoded.drop(columns=['Vehicles', 'DateTime', 'ID', 'Year'])
y = df_encoded['Vehicles']

In [116]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

In [82]:
model = LinearRegression()

In [83]:
model.fit(x_train,y_train)

LinearRegression()

In [84]:
y_pre = model.predict(x_test)

In [85]:
print('MAE',mean_absolute_error(y_test,model.predict(x_test)))
print('MSE',mean_squared_error(y_test,model.predict(x_test)))
print('r2s',r2_score(y_test,model.predict(x_test)))

MAE 8.669595542394015
MSE 148.62973730225218
r2s 0.6353062820094546

## Random Forest

In [118]:
print(x_train.shape)

(38496, 78)

In [119]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Define and train the model
rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(x_train, y_train)

# Predictions
y_pred_rf = rf_model.predict(x_test)

# Evaluation
print('Random Forest MAE:', mean_absolute_error(y_test, y_pred_rf))
print('Random Forest MSE:', mean_squared_error(y_test, y_pred_rf))
print('Random Forest R2 Score:', r2_score(y_test, y_pred_rf))

Random Forest MAE: 4.364338113050707
Random Forest MSE: 53.295018464256025
Random Forest R2 Score: 0.8692296791551297

In [121]:
import joblib

# Save the trained Random Forest model
joblib.dump(rf_model, 'rf_model.pkl')
joblib.dump(x_train.columns.tolist(), 'feature_columns.pkl')
scaler = StandardScaler().fit(x_train)
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']

In [2]:
%%writefile smart_traffic_app.py
import streamlit as st
import pandas as pd
import joblib
from sklearn.preprocessing import StandardScaler

# Load the trained Random Forest model
rf_model = joblib.load('rf_model.pkl')
feature_columns = joblib.load('feature_columns.pkl')
scaler = joblib.load('scaler.pkl')

# # Load the feature columns used during training
# # Assuming 'expected_columns' contains the expected feature columns
# expected_columns = ['Junction', 'Hours', 'date', 'Month', 'Day_Friday', 'Day_Monday', 'Day_Saturday', 'Day_Sunday', 'Day_Thursday', 'Day_Tuesday', 'Day_Wednesday']

# # Standard scaler for feature scaling
# scaler = StandardScaler()

# Streamlit app
st.title("Traffic Prediction App")

st.header("Make a Prediction")

# User inputs for prediction
junction = st.selectbox("Select Junction", [1, 2, 3, 4])
day = st.selectbox("Select Day", ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])
hour = st.slider("Select Hour", 0, 23, step=1)
date = st.slider("Select Date", 1, 31, step=1)
month = st.slider("Select Month", 1, 12, step=1)

# Prepare input data for prediction
input_data = {
    'Junction': [junction],
    'Day': [day],
    'Hours': [hour],
    'date': [date],
    'Month': [month]
}
df_input = pd.DataFrame(input_data)
df_input_encoded = pd.get_dummies(df_input, columns=['Junction','Day','Hours','date','Month'])

# # Add missing columns
for col in feature_columns:
    if col not in df_input_encoded.columns:
        df_input_encoded[col] = 0

# # Ensure columns order
df_input_encoded = df_input_encoded[feature_columns]

# Call the function to fit the scaler
# scaler.fit(df_input_encoded)

scaled_input=scaler.transform(df_input_encoded)


# Transform the input data using the fitted scaler

# Make the prediction
prediction = rf_model.predict(scaled_input)

# Display the prediction to the user
st.header(f'Predicted number of vehicles: {round(prediction[0])}')

Overwriting smart_traffic_app.py

In [3]:
!streamlit run smart_traffic_app.py

^C